In [4]:
import pandas as pd  
import numpy as np

In [7]:
data = pd.read_excel("/Telco-Customer-Churn.xlsx")

# Question 1

In [8]:
data.head()

   customerID  gender  SeniorCitizen  ... MonthlyCharges TotalCharges  Churn
0  7590-VHVEG  Female              0  ...          29.85        29.85     No
1  5575-GNVDE    Male              0  ...          56.95      1889.50     No
2  3668-QPYBK    Male              0  ...          53.85       108.15    Yes
3  7795-CFOCW    Male              0  ...          42.30      1840.75     No
4  9237-HQITU  Female              0  ...          70.70       151.65    Yes

[5 rows x 21 columns]

In [14]:
data1 = data[data["Churn"]=="No"]                                                          # customers who own services

In [15]:
data1["gender"].value_counts()

Male      2625
Female    2549
Name: gender, dtype: int64

In [16]:
data1["SeniorCitizen"].value_counts()

0    4508
1     666
Name: SeniorCitizen, dtype: int64

# Question 2

In [17]:
data2 = data[data["Churn"]=="Yes"]                                                        # customers who left services

In [18]:
data2["gender"].value_counts()

Female    939
Male      930
Name: gender, dtype: int64

In [ ]:
data2["SeniorCitizen"].value_counts()

0    1393
1     476
Name: SeniorCitizen, dtype: int64

# Question 3

In [ ]:
data["PaymentMethod"].unique()                                                                #finding unique values of the column PaymentMethod

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [ ]:
data['Contract'].unique()                                                                     #finding unique values of the column Contract

array(['Month-to-month', 'One year', 'Two year'], dtype=object)

In [13]:
data1["PaymentMethod"].value_counts(normalize = True)*100                                     # payment method of customers who own connection

Mailed check                 25.202938
Electronic check             25.009664
Credit card (automatic)      24.932354
Bank transfer (automatic)    24.855044
Name: PaymentMethod, dtype: float64

In [15]:
data2["PaymentMethod"].value_counts(normalize = True)*100                                     # payment method of customers who left services

Electronic check             57.303371
Mailed check                 16.479401
Bank transfer (automatic)    13.804173
Credit card (automatic)      12.413055
Name: PaymentMethod, dtype: float64

In [9]:
data3 = data[data['Contract'] == 'Month-to-month']  
data4 = data[data['Contract'] == 'One year']     
data5 = data[data['Contract'] == 'Two year']      

data3["PaymentMethod"].value_counts(normalize = True)*100                                  # payment method based on customers having Month-to-Month contract in percentage

Electronic check             47.741935
Mailed check                 23.045161
Bank transfer (automatic)    15.200000
Credit card (automatic)      14.012903
Name: PaymentMethod, dtype: float64

In [10]:
data4["PaymentMethod"].value_counts(normalize = True)*100                                 # payment method based on customers having ONE YEAR CONTRACT in percentage

Credit card (automatic)      27.019688
Bank transfer (automatic)    26.544467
Electronic check             23.557366
Mailed check                 22.878479
Name: PaymentMethod, dtype: float64

In [11]:
data5["PaymentMethod"].value_counts(normalize = True)*100                                 # payment method based on customers having TWO YEAR CONTRACT in percentage

Credit card (automatic)      34.277286
Bank transfer (automatic)    33.274336
Mailed check                 22.536873
Electronic check              9.911504
Name: PaymentMethod, dtype: float64

# Question 4

In [12]:
data['InternetService'].unique()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

In [55]:
data6 = data1[data["gender"] == "Male"]                                                                #  internet preference by Male customers who own service in percentage

data6['InternetService'].value_counts(normalize = True)*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

DSL            37.828571
Fiber optic    34.666667
No             27.504762
Name: InternetService, dtype: float64

In [21]:
data7 = data2[data["gender"] == "Male"]                                                              # internet preferences by male customers who left services in %
data7['InternetService'].value_counts(normalize = True)*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Fiber optic    68.064516
DSL            25.806452
No              6.129032
Name: InternetService, dtype: float64

In [22]:
data8 = data1[data["gender"] == "Female"]                                                         # Internetpreference by Female customers who own service in percentage
data8['InternetService'].value_counts(normalize = True)*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

DSL            38.014908
Fiber optic    34.876422
No             27.108670
Name: InternetService, dtype: float64

In [23]:
data9 = data2[data["gender"] == "Female"]                                                       # Internet preference by Female customers  who left their service in percentage
data9['InternetService'].value_counts(normalize = True)*100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Fiber optic    70.713525
DSL            23.322684
No              5.963791
Name: InternetService, dtype: float64

# Question 5 (Descriptive statistics of Total Charges)

In [40]:
data.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [41]:
d0 = data[data['gender']== 'Male']                                                    #based on male customers
d0['TotalCharges'].describe()

count    3555.000000
mean     2291.680667
std      2273.095299
min        18.800000
25%       399.275000
50%      1406.000000
75%      3778.100000
max      8684.800000
Name: TotalCharges, dtype: float64

In [42]:
d2 = data[data['gender'] == 'Female']                                                # based on female customers
d2['TotalCharges'].describe()

count    3488.000000
mean     2289.338308
std      2276.695359
min        18.850000
25%       403.300000
50%      1389.050000
75%      3834.062500
max      8672.450000
Name: TotalCharges, dtype: float64

In [43]:
d3 = data[data['Contract'] == "Month-to-month"]                                    # based on month-to-month contract
d3['TotalCharges'].describe()

count    3875.000000
mean     1369.254581
std      1613.879008
min        18.850000
25%       160.100000
50%       679.550000
75%      2066.500000
max      8061.500000
Name: TotalCharges, dtype: float64

In [44]:
d4 = data[data['Contract'] == "One year"]                                         # based on One year contract
d4["TotalCharges"].describe()

count    1473.000000
mean     3038.377461
std      2233.477741
min        18.800000
25%       989.450000
50%      2658.400000
75%      4860.350000
max      8684.800000
Name: TotalCharges, dtype: float64

In [45]:
d5 = data[data['Contract'] == "Two year"]                                            # based on two year contract
d5['TotalCharges'].describe()

count    1695.000000
mean     3746.752383
std      2582.454154
min        20.350000
25%      1280.125000
50%      3638.250000
75%      6044.300000
max      8672.450000
Name: TotalCharges, dtype: float64

In [49]:
data["PaymentMethod"].unique()

array(['Electronic check', 'Mailed check', 'Bank transfer (automatic)',
       'Credit card (automatic)'], dtype=object)

In [51]:
d6 = data[data['PaymentMethod'] == 'Mailed check']                                       #  based on Customers using mailed check Payment
d6['TotalCharges'].describe()

count    1612.000000
mean     1083.236973
std      1509.101844
min        18.800000
25%       116.937500
50%       473.675000
75%      1316.000000
max      8476.500000
Name: TotalCharges, dtype: float64

In [52]:
d7 = data[data['PaymentMethod'] == 'Electronic check']                                    #based on Customers using Electronic check Payment 
d7['TotalCharges'].describe()

count    2365.000000
mean     2090.868182
std      2155.435320
min        18.850000
25%       308.050000
50%      1253.900000
75%      3340.550000
max      8564.750000
Name: TotalCharges, dtype: float64

In [53]:
d8 = data[data['PaymentMethod'] == 'Bank transfer (automatic)']                            #based on Bank transfer Method
d8['TotalCharges'].describe()

count    1544.000000
mean     3083.566023
std      2360.362773
min        19.250000
25%      1052.387500
50%      2479.500000
75%      4948.337500
max      8684.800000
Name: TotalCharges, dtype: float64

In [54]:
d9 = data[data['PaymentMethod'] == 'Credit card (automatic)']                              # based on credit card method
d9['TotalCharges'].describe()

count    1522.000000
mean     3074.920894
std      2410.536742
min        19.300000
25%       989.400000
50%      2454.175000
75%      5016.550000
max      8670.100000
Name: TotalCharges, dtype: float64